* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

main {
  display: flex;
  justify-content: center;
  background-color: #2B2733;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #46424D;
  color: #CBC9CF;
  padding-bottom: 2%;
  padding-top: 2%;
  font-weight: 300;
}

h1 {
  color: #FFF;
}

h2 {
  background-color: #2B2733;
  color: #CBC9CF;
  display: inline;
  font-size: 150%;
}

h3 {
  color: #FFF;
  margin-left: 7%;
}

body {
  background-color: #2B2733;
  font-family: 'Montserrat';
}

input {
  background-color: #46424D;
  font-size: 14px;
}

label {
  color: #FFF;
  margin-bottom: 13%;
}

p {
  font-weight: 400;
}

.activity-section {
  background-color: #46424D;
  border-radius: 5px;
  box-shadow: 8px 5px 5px #26222D;
  color: #CBC9CF;
  display: flex;
  flex-direction: column;
  margin-right:2%;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 4%;
  padding: 50px;
  width: 60%;
}

.past-activities {
  margin-right: 58%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.heading {
  display: flex;
}

.new-activities {
  margin-left: 2%;
  margin-top: 2%;
}

.button-div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8%;
  margin-top: 3%;
}

.button {
  width: 20%;
  height: 80px;
  background-color: #46424D;
  background-position: center top;
  background-size: 25px;
  font-size: 25%;
  padding-top: 15px;
  border: 1px solid #FFF;
  border-radius: 3px;
}

.study-button {
 background-image: url("./assets/study.svg");
 background-repeat: no-repeat;
 background-origin: content-box;
}

.meditate-button {
 background-image: url("./assets/meditate.svg");
 background-repeat: no-repeat;
 background-origin: content-box;
}

.exercise-button {
 background-image: url("./assets/exercise.svg");
 background-repeat: no-repeat;
 background-origin: content-box;
}

.button-text{
padding-top: 11px;
padding-bottom: 3px;
color: #FFF;
font-size: 18px;
}

.task-input {
  width: 93%;
  font-size: 24px;
  margin-top: 2%;
}

.task-div {
  margin-left: 6%;
  margin-bottom: 7%;
}

.first-prompt {
  color: #CBC9CF;
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 18px;
}

.second-prompt {
  color: #CBC9CF;
  font-size: 18px;
}

.start-button {
  color: #46424D;
  background-color: #FFF;
  border-radius: 4px;
  width: 25%;
  margin-left: 68.5%;
  margin-top: 7%;
  height: 35px;
  font-size: 90%;
}

.right-section {
  width: 40%;
  border-left: 3px solid #46424D;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5%;
  padding-top: 1%;
}

.time-input {
  width: 180%;
}

.time-label {
  display: block;
}

.min-sec-div {
  display: flex;
  justify-content: space-between;
}

.container1 {
  margin-left: 6%;
}

.container2 {
  margin-right: 22.5%;
}

.hidden {
  display: none;
}

.timer-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 60%;
  background-color: #46424D;
  margin-right:2%;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 3%;
  padding: 50px;
}

.start-timer-button {
  height: 200px;
  width: 200px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #46424D;
  font-size: 24px;
  color: #FFF;
  align-self: center;
}

.current-activity-text {
  align-self: center;
  font-size: 16px;
}

.input-div {
  display: flex;
  justify-content: space-around;
  width: 175px;
  margin-bottom: 40px;
  align-self: center;
}

.min-sec-counter {
  width: 85px;
  font-size: 60px;
  color: #FFF;
  border: 0;
  font-weight: bolder;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #FFF;
  margin-top: 14px;
  margin-right: 5px;
}

.clock-colon-div {
  padding-top: 10px;
}

.current-activity-text {
  color: #CBC9CF;
  font-size: 20px;
}

.log-button {
  height: 30px;
  width: 200px;
  align-self: center;
  margin-top: 30px;
  font-size: 16px;
  color: #46424D;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  border: 0;
  outline: 0;
  background: #46424D;
  border-bottom: 1px solid #A5A3A7;
  color: #A4A0A8;
}
